map_right.txt
assets/__pycache__/run_relevant_variables.cpython-312.pyc
src/__pycache__/secret.cpython-312.pyc
src/functionality_maps/__pycache__/__init__.cpython-312.pyc
src/functionality_maps/__pycache__/Defs.cpython-312.pyc
src/functionality_maps/__pycache__/Maps.cpython-312.pyc
src/functionality_maps/__pycache__/paths.cpython-312.pyc
src/pages/__pycache__/1_Home.cpython-312.pyc
src/pages/__pycache__/2_Company.cpython-312.pyc
src/pages/__pycache__/4_Customers.cpython-312.pyc
assets/__pycache__/__init__.cpython-312.pyc
JupNB/.ipynb_checkpoints/fake_customers_gen-checkpoint.ipynb
