map_right.txt
*.gpkg
*.pyc
*map.html
__pycache__/
JupNB/.ipynb_checkpoints/fake_customers_gen-checkpoint.ipynb
JupNB/.ipynb_checkpoints/fake_customers_gen-checkpoint.html
20250126_1025_SportScheck_stores.html
20250126_1132_Decathlon_stores.html
20250126_1132_Intersport_stores.html
20250126_1132_SportScheck_stores.html
pdf_all_stores.json
pdf_store_decathlon.json
pdf_store_intersport.json
pdf_store_sportscheck.json
